/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --fuenteheading: "Dosis", sans-serif;
  --fuenteparrafo: "Open Sans", sans-serif;

  --blanco: #ffffff;
  --negro: #000000;
}

body {
  font-family: var(--fuenteparrafo);
  font-size: 1.6rem;
}

/* Globales */
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: var(--fuenteheading);
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
img {
  max-width: 100%;
}

/* Utilidades */
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar {
  text-align: center;
}

/* Header */
.header {
  background-image: url(../img/banner.jpg);
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header-a {
  height: 60 rem;
}
.header_texto {
  text-align: center;
  margin-top: 15rem;
  color: var(--blanco);
}
.header_texto h2 {
  font-weight: 400;
  font-size: 8rem;
}
@media (min-width: 768px) {
  .header_texto {
    margin-top: 16rem;
  }
  .header_texto h2 {
    font-size: 10rem;
  }
  .header_texto p {
    font-size: 2rem;
  }
}

.back {
  background-color: var(--blanco);
  padding: 1rem 0 1rem 0;
}
@media (min-width: 768px) {
  .back {
    background-color: var(--blanco);
    padding: 1.5rem 0 1.5rem 0;
  }
}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.barra {
  display: flex;
  justify-content: space-between;
}
.logo {
  color: var(--negro);
}
.logoname {
  font-weight: 400;
}
.menu {
  display: none;
}
.navegacion {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    color: #000000;
    z-index: 1;
  }
  .navegacion {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    overflow-y: auto;
    left: 100%;
    transition: left 0.4s;
  }
}
.nav-res {
  left: 0%;
}
.nav_enlace {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem;
  color: var(--negro);
}
.nav_enlace:hover {
  color: #4f68e3;
  transition: 0.3s;
}
.galeria h3 {
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex: 100%;
}
.column img {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .column {
    flex: 33.3%;
    padding: 0.5rem;
  }
}
.img:hover {
  filter: opacity(50%);
  cursor: pointer;
  transition: filter 0.5s;
}

.contenedor-img {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.move {
  transform: scale(1);
}
.img-show {
  height: 90%;
  transform: scale(0);
  display: block;
  object-fit: cover;
  transition: transform 0.2s;
}
.show {
  transform: scale(1);
}
.bx.bx-x {
  position: absolute;
  color: #ffffff;
  top: 2rem;
  right: 1rem;
  font-size: 4rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .img-show {
    width: 90%;
  }

  .bx.bx-x {
    top: 10px;
    font-size: 2.5rem;
  }
}

.footer {
  margin: 1rem 0;
}
.redes a {
  color: #000000;
}
.barra-f {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.barra-f p {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .barra-f {
    justify-content: space-around;
  }
  .barra-f p {
    font-size: 1.6rem;
  }
}

/* About Me */

.direct {
  font-weight: bold;
  color: var(--negro);
}
@media (min-width: 1085px) {
  .about {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
  }
  .imgabout {
    width: 40%;
    flex: 0 0 calc(50% - 2rem);
  }
  .about-text p {
    line-height: 2.5rem;
  }
}
